* { margin: 0; padding: 0;}

p, h1, h2 { margin: 0; padding: 0; color: #000000; }

a, li { text-decoration: none; list-style: none;}


body { margin: 0; padding: 0; overflow: scroll;
       user-select: none; }

/*Nav bar*/       
.menu_nav {
    background: #161616;
    filter: drop-shadow(0em 2px 7px #191b1d);
    height: 10vh;
    position: fixed;
    width: 93em;
}


.jeff_logo {
    position: absolute;
    top: 0.6em;
    left: 1em;
    width: 360px;
}

.page-logo { 
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    display: flex;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

 /*Page abaixo da Nav*/ 
section.apresentacao {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    background-color: #a5b7e7;
}

#blur {
    margin: 4.8em 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: rgba(255 255 255 / 18%);
    filter: blur(1px);
}

.page-side {
    width: 30%;
    height: 90vh;
    margin: 0;
}

#oConvertido {
    position: absolute;
    top: 15em;
    left: 0;
    width: 28em;
    height: auto;
}

.main_div-apresentacao {
    margin-top: 4em;
    width: 70%;
    height: 100%;
}

.header-principal, .header-secundario {
    margin-top: 3em;
}

#titulo {
    font-size: 2em;
}

.subTitulo {
    font-size: 1.3em;
}

.card-conversoes {
    margin-top: 5em;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.card {
    margin-left: 1em;
    width: 220px;
    height: 294px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: #fff;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
}

.card::before {
    content: 'Clique para ir';
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 8px;
    left: 50px;
    color: rgb(51, 51, 51);
    font-size: 0.8em;
    font-weight: 700;
}

.card div.card-content {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
    background-color: #fff;
    display: block;
    padding: 0.9em;
}

.card:hover div {
    transform: translateY(-70px);
}

.preview {
    width: 110px;
    height: 105px;
    margin-top: 0.5em;
}

.description {
    margin-top: 3em;
    font-size: 1em;
    font-weight: 500;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Section coversor moeda*/
section.conversorMoeda {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #098359d1;
    background-image: url(https://blush.design/api/download?shareUri=Ns_TYYB7JcR4mDpf&c=Hair_0%7E878787-0.4%7E0f0f0f_Skin_0%7Ec26e5e-0.4%7Eecafa3&w=800&h=800&fm=png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 47em;
}

.container {
    text-align: start;
    margin-left: 7em;
    height: 30vh;
    margin-top: 5em;
}

.page-subtitle { margin-top: 2em; font-size: 1.7em; font-weight: 500;
                text-shadow: 0 2px 10px #000000c4; letter-spacing: 5px;
                font-family: 'Courier New', Courier, monospace;}

.page-title { margin-left: 2em;font-size: 4em;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
                
.conversor {
    display: flex;
    flex-direction: column;
    margin-left: 12em;
}

.container-conversao, .container-valor_convertido {
    background: #ffffff;
    width: 360px;
    height: 105px;
    border-radius: 5em;
    display: inline-flex;
    justify-content: center;
    margin: 0.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dropdown {
    display: flex;
    justify-content: center;
    padding-left: 0.6em;
    cursor: pointer;
}

#initial {
    font-size: 1.5em;
}

.options {
    font-size: 1em;
}

.drop-perfil-user {
    user-select: none;
    display: flex;
    align-items: center;
}

.drop-user-img { border-radius: 50%; margin-right: 0.5rem; }

.dropdown::after {
    position: absolute;
    display: inline-block;
    left: 19em;
    margin: 3.1em 0 0 0;
    content: "";
    border-top: 0.4em solid;
    border-right: 0.4em solid transparent;
    border-bottom: 0 solid;
    border-left: 0.4em solid transparent;
}

#dropdown-menu {
    position: relative;
    display: none;
    top: 4.5em;
    left: 0em;
    margin-left: -93px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    width: 10em;
    height: 18em;
    background-color: #8394a5;
    border-radius: 1.3em;
}

#dropdown-menu li {
    width: auto;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    margin: 0.5em auto;
    font-size: 1.1rem;
}

.dropdown-divider {
    width: 5em;
    margin: 1em auto;
}

#dropdown-menu li a {
    padding:0.2em 0.3em;
    color: #fff;
    display: flex;
    align-items: center;
}

#dropdown-menu li a:hover{ background: #7d7f80ad; border-radius: 0.2em; }

.valorMoeda {
    margin-left: auto;
    margin-right: 1em;
    margin-top: 2.1em;
    display: flex;
    width: 13em;
    height: 2.4em;
}

.valorMoedaReal {
    margin-left: auto;
    margin-right: 1em;
    margin-top: 2.1em;
    display: flex;
    width: 13.3em;
    height: 2.4em;
}

.selectionBitcoin, .selectionBrazil {
    display: flex;
    justify-content: center;
    padding-left: 0.6em;
}

.brazil, .bitcoin {
    user-select: none;
    display: flex;
    align-items: center;
}

input#valor, input#valor:focus {
    border: 0;
    border-radius: 5em;
    text-align: center;
    font-size: 1em;
}

input#valor { 
    background: transparent;
    border: 0;
    color: #fff;
    width: 100%;
    background: rgb(14 143 102);
}

input:focus {
    background: rgba(172, 166, 166, 0.733);
    filter: blur(5);
    color:#000000;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; }
input[type=number] { -moz-appearance: textfield; appearance: textfield; }

  
label { color: #000000; }
  
button#btn_Moeda {
    width: 10em;
    height: 3em;
    background: #ffffff;
    margin-top: 1em;
    margin-left: 6em;
    border-radius: 3em;
    font-size: 1em;
    font-weight: 600;
}

#pig-bank {
    width: 18em;
    position: relative;
    height: 15em;
    bottom: 8em;
    left: 0;
}

.relampagoMarquinhos {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right bottom, #060033, #090b48, #180f5c, #291071, #3d0e86, #540d96, #6c09a5, #8400b3, #a200c0, #c100cb, #e000d6, #ff00e0);
    
}

#glass {
    position: absolute;
    background-color: #ffffff33;
    top: 103em;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 85%;
    filter: blur(19px);
}

.card-conversor-vel {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5em;
    width: 40em;
    height: 38em;
    background: rgba(236, 236, 236, 0.774);
    box-shadow: 0em 1em 1em 0em #161616;
}

.card__cover {
    height: 150px;
    width: 100%;
    height: 18em;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titleKM {
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#valorKM {
    text-align: center;
    border: 0;
    margin-top: 3em;
    margin-bottom: 4em;
    color: #000000;
    width: 30em;
    height: 3em;
    background-color: #f8f8f8;
    box-shadow: 0.1em 0.3em 0.2em #161616;
}

#valorConvertido {
    border-bottom: 0.3em solid #4416b1a9;
    width: 25em;
    margin-bottom: 1.5em;
}

button#btn_KM {
    width: 10em;
    height: 3em;
    background: #ffffff;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 2em;
}

.line-divisor {
    width: 95%;
    height: 0.01em;
    background-color: #000000;
}

.card__content {
    flex: 1;
}

#sessaoComents {
    margin-top: 0.2em; font-size: 1.7em; font-weight: 500;
    text-shadow: 0 2px 10px #000000c4; letter-spacing: 5px;
    font-family: 'Courier New', Courier, monospace;
}

#moonMan, #floatGirl { position: relative; width: 26em;}

#floatGirl { left: 33em; bottom: 22em;}
#moonMan { right: 33em; bottom: -18em;}

